/* Chat page */

ul.pages {
    margin: 0px;
    padding: 0px;
}

.chat.page {
    /*display: none;*/
}

.chat.page > .ui-input-text {
    margin: 1.5em 1em !important;
    /*display: none;*/
}

.login.page {
    display: none;
}

/* Font */

.messages {
    font-size: 100%;
    list-style: none;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
    display: none !important;
}

/* Messages */

.chatArea {
    /*height: 100%;*/
    padding-bottom: 10px;
}

.messages {
    height: 250px;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    /*border: 10px solid #000;*/
    bottom: 0;
    padding: 0.7em 1em !important;
    left: 0;
    outline: none;
    right: 0;
    width: 100%;
}
