.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {background: none; border: 0;}

.numk{ width: 150px !important; }

.ui-field-contain>label~[class*=ui-] {
    width: 65% !important;
}

.ui-field-contain>label {
    width: 33% !important;
}

.tooltip-popup {
    position: absolute;
    z-index: 9999;
    background-color: white;
}

.pyramid-animation {
    display: none;
    width: 300px;
    height: 200px;
}

#pyramid-levels-3 {
    display: block;
}

#pop-background {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0);
    height: 10000px;
    width: 10000px;
    z-index: 1998;
    top: -2500px;
    left: -2500px;
}